
.container {
	
	position: relative;
	max-width: $grid-width;
	box-shadow: 0 1.7rem 4rem rgba($color-black, .5);
	margin: 0 auto;
	background: #2b2b2b;

	padding: 20rem 0 7rem;
	margin-top: -19rem;


	background-image: url(../img/plane.png);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 58%;
	
}


.section-about {

	
	//background-color: $color-grey-light-1;
	padding: 25rem 5rem 5rem;
	margin-top: -20vh;
}
@media screen and (max-width: 600px) {
	.section-about {
		.hide {
			display: none;
		}
	}
}
.section-work {
	padding: 20rem 5rem 30rem 5rem;
	margin-top: -11.5rem;

	//background: url(../img/work-bg.jpg) repeat 9px 0 transparent;
	//background: $color-grey-light-1;

	background-position: top;
	transform: skewY(-7deg);

	& > * {
		transform: skewY(7deg);
	}
}

.section-contact {
	padding: 10rem 5rem 10rem;
	background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
	margin-top: -7rem;
	background-position: top;
	transform: skewY(-7deg);
	& > * {
		transform: skewY(7deg);
	}
}

.contact {
	background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 55%, transparent 50%),
		url(../img/contact-bg.jpg);

	background-size: 100%;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
	//height: 50rem;
	margin: 0 auto;
	&__form {
		width: 50%;
		padding: 6rem;
	}
}

.section-contact .heading-secondary {
	background-image: linear-gradient(to right, rgba($color-white, 0.8), rgba($color-white, 0.8));

}


@media screen and (max-width: 900px) {
	
	.contact {
		background-image: linear-gradient(105deg, 
		rgba($color-white, .9) 0%,
		rgba($color-white, .9) 65%,
		 transparent 65%),
			url(../img/contact-bg.jpg);
			background-size: cover;
	
	
		&__form {
			width: 65%;
			
		}
	}
}

@media screen and (max-width: 600px) {
	
	.contact {
		background-image: linear-gradient(to right, 
		rgba($color-white, .9) 0%,
		rgba($color-white, .9) 100%),
			url(../img/contact-bg.jpg);
		
	
	
		&__form {
			width: 100%;
			
		}
        
		.btn--green {
			height: 4rem;
			line-height: 1rem;
		}
		.section-about .heading-secondary {

			font-size: 1.5rem;
			line-height: 1rem;
		}
	}
}


@media screen and (max-width: 900px) {

	.container {

       margin-top:-23rem !important;
	}
	.header-primary__main {
		height: 60vh;
		margin-top:2rem;
	}
	.header {
		height: 85vh;
	}

}

@media screen and (max-width: 600px) {

	.container {

       margin-top:-25rem !important;
	}
	.header-primary__main {
		height: 70vh;
		margin-top:2rem;
	}
	.header {
		height: 85vh;
	}
	.section-work {
	 
		 padding-top: 1rem ;

	}

}